* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.subtitle {
  margin: 10px 0;
  color: #94a3b8;
}

.btn {
  padding: 10px 25px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.projects {
  padding: 60px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #1e293b;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}
